.header {
  @include flex-row;
  @include flex-center;

  height: 100vh;

  background-image: url("../images/desktop/image-header.jpg");
  background-color: #3dbeff;
  background-size: 1000px;
  background-position: bottom;
  background-repeat: no-repeat;

  @media only screen and (min-width: $breakpoint-medium) {
    background-size: 1500px;

    align-items: flex-start;
  }

  &__content {
    @include flex-column;
    @include flex-center;

    @media only screen and (min-width: $breakpoint-medium) {
      margin-top: 20rem;
    }

    gap: 5rem;

    & > img {
      height: 114px;
      width: 36px;
    }
  }
}
